name: firestore_service
description: Wrapper for Cloud Firestore
version: 0.1.6
homepage: https://twitter.com/hikeland
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  cloud_firestore: ^2.5.2
  flutter_riverpod: ^1.0.0-dev.7

flutter: